.textTitulo {
    color: #c69b7b;
    margin-left: 3%;

}

.col-carrito{
    margin-left: 2%;
    margin-right: 2%;  
    border-width: 5px;
    border-style: solid;
    border-color: #eed0ae;
    border-radius: 12px;
    background-color: #eed0ae;
    margin-bottom: 20px;
}

.input-group-text{
    margin-bottom: 20px;

}

.imagen-resumen img{
    background-size: cover;
    border-radius: 30px;
    width: 80px;
    height:100;
    margin-left: 15%;
    margin-bottom: 10%;

}
.card{
    background-color: transparent;
}