.form-talk {
    padding-top: 60px;
    margin-bottom: 30px;
    position: relative;
    width: 80%;
    margin:  auto; 
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    margin-top: 10%;
    border-radius: 10px;

}
    @media (max-width: 768px) {
      .form-talk {
        width: 100%;
        position: relative;
        padding: 20px; } }
    .form-talk .button {
      margin-top: 15px;
      margin-bottom: 15px;
      border-radius: 5px; }
  
  .form-group {
    position: relative;
    margin-bottom: 5px; }
    .form-group input, .form-group textarea {
      font-size: 16px;
      padding: 5px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #090909;
      border-radius: 0;
      color: #727272;
      resize: none; }
      .form-group input:focus, .form-group textarea:focus {
        outline: none; }
    .form-group textarea {
      height: 120px; }
    .form-group label {
      color: #000;
      font-size: 16px;
      pointer-events: none;
      -o-transition: 0.2s ease all;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
      margin: 0;
      font-weight: bold; }
      @media (max-width: 768px) {
        .form-group label {
          font-size: 16px; } }
    .form-group input, .form-group textarea {
      background-color: transparent; }
      .form-group input:focus ~ label, .form-group input:valid ~ label, .form-group textarea:focus ~ label, .form-group textarea:valid ~ label {
        top: -15px;
        font-size: 14px; }
    .form-group .bar {
      position: relative;
      display: block;
      width: 100%; }
      .form-group .bar:before, .form-group .bar:after {
        content: '';
        height: 1px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: #3D4C51;
        -o-transition: 0.2s ease all;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all; }
      .form-group .bar:before {
        left: 50%; }
      .form-group .bar:after {
        right: 50%; }
    .form-group input:focus ~ .bar:before, .form-group input:focus ~ .bar:after, .form-group textarea:focus ~ .bar:before, .form-group textarea:focus ~ .bar:after {
      width: 50%; }
    .form-group .highlight {
      position: absolute;
      height: 60%;
      width: 100%;
      top: 40%;
      left: 0;
      pointer-events: none;
      opacity: 0.5; }
    .form-group input:focus ~ .highlight, .form-group textarea:focus ~ .highlight {
      -webkit-animation: inputHighlighter 0.5s ease;
      -moz-animation: inputHighlighter 0.5s ease;
      animation: inputHighlighter 0.5s ease; }
  
  @-webkit-keyframes inputHighlighter {
    from { 
    background: #3D4C51;  }
    to { 
    width: 0;
    background: transparent;} }
  
  @-moz-keyframes inputHighlighter {
    from { 
    background: #3D4C51;}
    to { 
    width: 0;
    background: transparent;   }} 
  
  @keyframes inputHighlighter {
    from {
      background: #727272; }
    to {
      width: 0;
      background: transparent; } }
  
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  
  input[type=number] {
    -moz-appearance: textfield; }
  
  .form-check label {
    color: #ffffff; }
  
  select:focus {
    outline: 0; }
  
  .button {
    color: #ffffff;
    background-color: #c69b7b;
    border: 2px solid #ffffff;
    border-radius: 20px !important;
    padding: 10px 40px; }
    .button:focus {
      outline: 0; }

body {
    background-color: #f4ede5;

}

#logo{
    justify-content: center;
    align-items: center;
     margin-left: 2%;
 
}

.row {
    margin-top: 4%;
}
a{
    color: #000;
}

