extends ./layouts/app

block title
  title GRACIAS - ARTCOFFE

block content
  section.thanks 
    .container
      .row 
        .col-md-12 
          .content-thanks
            h2 GRACIAS POR REGISTRARSE EN NUESTRO FORMULARIO 
            p Pronto uno de nuestros asesores se comunicara con usted